<div class="ps-footer bg--cover">
    <div class="ps-footer__content">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <aside class="ps-widget--footer ps-widget--info">
                        <header><a class="ps-logo" href="index.html"><img style="border-radius: 15px;"
                                    src="/images/logo.png" alt=""></a>
                            <h3 class="ps-widget__title">Address Office 1</h3>
                        </header>
                        <footer>
                            <p><strong>982 Upper Changi Rd N, Singapore</strong></p>
                            <p>Phone: 6546-6832</p>
                        </footer>
                    </aside>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <aside class="ps-widget--footer ps-widget--info second">
                        <header>
                            <h3 class="ps-widget__title">Address Office 2</h3>
                        </header>
                        <footer>
                            <p><strong>10 Tanah Merah Besar Rd, Singapore</strong></p>
                            <p>Phone: 6546-7170</p>
                        </footer>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-footer__copyright">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <p>&copy; <href href="#"><a>MERDSI</href></a></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <ul class="ps-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>